<% include head %>

<h1 class="Gtitre">Formulaire d'inscription</h1>
<div class="content">

<div id="espace">
<div class="espace1">
<div class="espace2"></div>
</div>
</div>

<div class="maForm">
<form id="monForm">
	<div class="input-group">
		<label for="basic-url"> Nom </label>
		<input type="text" id="nom" class="form-control">
		<br />
		<label for="basic-url">Prénom</label>
		<input type="text" id="prenom" class="form-control">
		<br />
		<input type="submit" value="Valider" id="envoyer" class="btn pos btn-primary">
	</div>
 </form>

 <div id="liste"></div>
 </div>
</div>

 <script src="js/form.js"></script>
 
<% include footer %>

