<html lang="fr">
<head>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum=1.0, width=device-width" />
 <script src="lib/jquery-3.2.0.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">MQL 2016/2018</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">index</a></li>
            <li><a href="/inscrire">Inscrire un étudiant</a></li>
            <li><a href="/chercher">Chercher un étudiant</a></li>
            <li><a href="/portofolio">Portofolio</a></li>
        </ul>
      
    </div>
</nav>
